<!-- layout.hbs -->
<div class="square-content-profile">
    <h1 class="text-center title-course">Welcome {{name}}!</h1>
    <div class="info-profile">
        <p>
            <span class="user-information">Username: </span>
            <span>{{username}}</span>
        </p>
        <p>
            <span class="user-information">Name: </span>
            <span>{{name}}</span>
        </p>
        <p>
            <span class="user-information">Last name: </span>
            <span>{{lastname}}</span>
        </p>
        <p>
            <span class="user-information">Birthday: </span>
            <span>{{birth}}</span>
        </p>
        <p>
            <span class="user-information">Email: </span>
            <span>{{email}}</span>
        </p>
        <p>
            <span class="user-information">Phone: </span>
            <span>{{phone}}</span>
        </p>
    </div>
    <div>
        <div class="row align-items-center">
            <a class="see-more-btn" href="/profile/{{_id}}/edit">Edit</a>
        </div>
        <br>
        <div class="row align-items-center">
            <form action="/profile/{{_id}}/delete" method="post">
            <input class="info-profile see-more-btn" type="submit" value="Delete">
        </form>
        </div>
    </div>
</div>