<!-- layout.hbs -->
<h1 class="text-center">Welcome {{name}}!</h1>
<div class="square-content-profile">
    <div class="content-profile">
        <h5>Personal information</h5>
        <br>
        <p><span class="user-information">Username: </span><span>{{username}}</span></p>
        <p><span class="user-information">Name: </span><span>{{name}}</span></p>
        <p><span class="user-information">Last name: </span><span>{{lastname}}</span></p>
        <p><span class="user-information">Birthday: </span><span>{{birth}}</span></p>
        <p><span class="user-information">Email: </span><span>{{email}}</span></p>
        <p><span class="user-information">Phone: </span><span>{{phone}}</span></p>
        <p><a class="input-btn" href="/profile/{{_id}}/edit">Edit</a></p>
        <form action="/profile/{{_id}}/delete" method="post">
            <input class="input-btn" type="submit" value="Delete Account">
        </form>
    </div>
    <br>
</div>

<div class="square-content-profile">
    <div class="content-profile">
        <h5>My courses</h5>
        {{#if stats.length}}
            <ul class="list-group list-group-flush">
            {{#each stats}}
                <li class="list-group-item hide">
                    <p>{{courses.name}}</p>
                    <a class="input-btn" href="courses/{{courses.id}}">Study!</a>
                    <input id="checkbox" type="checkbox" name="check"><label for="checkbox">Complete</label>
                    <button type="submit" value="{{this._id}}" class="input-btn remove-course">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
            {{/each}}
            </ul>
        {{else}}
        <p>You don't suscribe at any course yet :(</p>
        <p><a class="input-btn" href="/courses">Check our awesome courses!</a></p>
        {{/if}}
    </div>
</div>

