<!-- layout.hbs -->
<h1 class="text-center">Profile of {{name}}</h1>
<h5>Personal information</h5>

<p>{{username}}</p>
<p>{{name}}</p>
<p>{{lastname}}</p>
<p>{{birth}}</p>
<p>{{email}}</p>
<p>{{phone}}</p>

<a class="nav-link" href="/profile/{{_id}}/edit">Edit</a>


