<!-- layout.hbs -->
<div class="square-content-profile">
  <h1 class="text-center title-course">MY INFORMATION</h1>
  <form class="edit-form" action="/profile/{{_id}}/detail" method="post">
    <div>
      <p class="title-field">NAME</p>
      <input class="fields-profile" type="text" name="name" value="{{name}}">
    </div>
    <div class="field-detail">
      <p class="title-field">LAST NAME</p>
      <input class="fields-profile" type="text" name="lastname" value="{{lastname}}">
    </div>
    <div class="field-detail">
      <p class="title-field">BIRTHDAY</p>
      <input class="fields-profile" type="date" name="birth" value="{{birth}}">
    </div>
    <div class="field-detail">
      <p class="title-field">EMAIL</p>
      <input class="fields-profile" type="email" name="email" value="{{email}}">
    </div>
    <div class="field-detail">
      <p class="title-field">PHONE</p>
      <input class="fields-profile" type="tel" name="phone" value="{{phone}}">
    </div>
    <button class="button-css row align-items-center" type="submit">UPDATE</button>
  </form>
</div>