<!-- layout.hbs -->
<h1 class="text-center">Edit profile</h1>
<div class="square-content-profile">
    <div class="content-profile">
<form action="/profile/{{_id}}/detail" method="post">
  <label for="">Username:</label>
  <input type="text" name="username" value="{{username}}">

  <label for="">Name:</label>
  <input type="text" name="name" value="{{name}}">

  <label for="">Lastname:</label>
  <input type="text" name="lastname" value="{{lastname}}">

  <label for="">Birth:</label>
  <input type="date" name="birth" value="{{birth}}">

  <label for="">Email:</label>
  <input type="email" name="email" value="{{email}}">

  <label for="">Phone:</label>
  <input type="tel" name="phone" value="{{phone}}">

  <button type="submit">
    <i class="fa fa-save"></i>
  </button>
</form>
</div>
</div>