<!-- layout.hbs -->
<div class="square-content-profile">
  <h1 class="title-page text-center">Teacher's Space</h1>
  <div class="content-teacher">
    <br>
    <h2>Courses created</h2>
    {{#if coursesCreated.length}}
    <ul>
      {{#each coursesCreated}}
      <li class="course-created">
        <p class="course-created-name">{{this.name}}</p>
        <p>Number of students: {{this.students.length}}</p>
        <a class="input-btn" href="/profile/{{id}}/courseedit">Edit course</a>
        <a class="input-btn col" href="/courses/{{this.id}}">Go to your course</a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>You don't create any course yet :(</p>
    {{/if}}
  </div>
</div>
<br>
<div class="square-content-courses">
  <div class="content-teacher">
    <br>
    <h5>Create your course</h5>
    <div>
      <div>
        <section>
          <form action="/profile/{{id}}/createcourse" method="POST">
            <div>
              <div class="field-detail">
                <p class="title-field">YouTube URL</p>
                <input type="url" class="fields-profile text-transition" id="course-video" name="videoInput" placeholder="Video" pattern="https://www.youtube.com/.+"
                  title="https://www.youtube.com/" required>
              </div>
              <div class="field-detail">
                <input type="text" class="fields-profile text-transition" id="course-resume" name="resume" placeholder="Course's resume"
                  required>
              </div>
              <div class="field-detail">
                <textarea class="fields-profile text-transition" id="course-resume" name="temary" placeholder="Course's temary" type="text"
                  rows="6" cols="40" required></textarea>
              </div>
              <input type="submit" class="button-css row align-items-center" value="Create course"></input>
          </form>
        </section>
        </div>
      </div>
    </div>
  </div>