<!-- layout.hbs -->
<div class="square-content-profile">
  <h1 class="title-page text-center">Teacher's Space</h1>
  <div class="content-teacher">
    <br>
    <h2>Created courses</h2>
    {{#if coursesCreated.length}}
    <ul>
      {{#each coursesCreated}}
      <li>
        <p>{{this.name}}</p>
        <a class="input-btn" href="/courses/{{this.id}}">Go to your course</a>
        <p>Number of students: {{this.students.length}}</p>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>You don't create any course yet :(</p>
    {{/if}}

    <h2>Create new course</h2>
    <div>
      <div>
        <section>
          <form action="/profile/{{id}}/createcourse" method="POST">
            <div>



              <div class="field-detail">
                <input type="text" class="fields-profile" id="course-name" name="name" placeholder="Course's name" required>
              </div>
              <div class="field-detail">
                <input type="text" class="fields-profile" id="course-resume" name="resume" placeholder="Course's resume" required>
              </div>
              <div class="field-detail">
                <input type="text" class="fields-profile" id="course-resume" name="temary" placeholder="Course's temary" required>
              </div>
              <div class="field-detail">
                <p class="title-field">Separated by commas</p>
                <input type="text" class="fields-profile" id="course-category" name="category" placeholder="Course's category" required>
              </div>
              <div class="field-detail">
                <p class="title-field">Paste the url of the image here</p>
                <input type="url" class="fields-profile" id="course-image" name="image" placeholder="Url image">
              </div>
              <div class="field-detail">
                <p class="title-field">YouTube URL</p>
                <input type="url" class="fields-profile" id="course-video" name="videoInput" placeholder="Url video">
              </div>
              <input type="submit" class="button-css row align-items-center" value="Create course"></input>
          </form>
        </section>
        </div>
      </div>
    </div>
  </div>