<!-- layout.hbs -->
<div class="square-content-courses">
    <div class="title-course text-center">{{name}}</div>
    <br>
    <div>
    <p class="course-resume">{{temary}}</p>
    </div>
    <div  class="align-items-center"><iframe class="course-resume" src="{{video}}"></iframe></div>
    <p class="text-center">Number of students: {{students.length}}</p>
    <button id="add" type="submit" value="{{_id}}" class="button-css row align-items-center">
        <i class="fa fa-plus"></i>
    </button>
</div>
